{{ partial:page_builder/block }}
<div class="mb-10 text-center md:text-start">
    {{ panels_title }} {{ partial:components/header }} {{ /panels_title }}
</div>
{{ panels }}
<div>
    <div class="hidden md:block">
        {{ if index % 2 }}
        <div class="panel-block-desktop">
            <div class="content">
                {{ panel_item_title }} {{ partial:components/header }} {{
                /panel_item_title }} {{ partial:components/markdown }}
            </div>
            <img
                class="{{ img_class }} md:w-1/2"
                src="{{ image }}"
                alt="{{ company:name }}"
            />
        </div>
        {{ else }}
        <div class="panel-block-desktop">
            <img
                class="{{ img_class }} md:w-1/2"
                src="{{ image }}"
                alt="{{ company:name }}"
            />
            <div class="content">
                {{ panel_item_title }} {{ partial:components/header }} {{
                /panel_item_title }} {{ partial:components/markdown }}
            </div>
        </div>
        {{ /if }}
    </div>

    <div class="panel-block-mobile">
        <div class="content">
            {{ panel_item_title }} {{ partial:components/header }} {{
            /panel_item_title }} {{ partial:components/markdown }}
        </div>
        <img src="{{ image }}" alt="{{ company:name }}" />
    </div>
</div>
{{ /panels }} {{ /partial:page_builder/block }}
